# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
 
 # compiled
 __pycache__
 
*.so
*.o

# vim
.*.swp

# data files
*.h5
*.xdmf

# dev env
python/pyproject.toml
tags
tmp

